{% extends "base.html" %}

{% block head_title %}
  {{ title }} | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="col-sm-8 col-sm-offset-2">
    <h1>{{ title }}</h1>
    {% for obj in object_list %}

      <div class="row">
        <div class="col-sm-12">
          <div class="thumbnail">
            {% if obj.image %}
              <img src="{{ obj.image.url }}" alt="" class="img-responsive"/>
            {% endif %}
            <!-- <img src="..." alt="..."> -->
            <div class="caption">
              <h3>
                <a href="{{obj.get_absolute_url}}">{{obj.title}}</a>
                <small>{{obj.timestamp|timesince}} ago</small>
              </h3>
              <p>{{obj.context|linebreaks|truncatechars:100}}</p>
              <p><a href="{{obj.get_absolute_url}}" class="btn btn-primary" role="button">View</a></p>
            </div>
          </div>
        </div>
        <hr />
      </div>
      {#% cycle "" "<div class='col-sm-12'><hr/></div></div><div class='row'>" %#}
    {% endfor %}
    <div>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
        Share on Facebook
      </a>
      <a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20{{request.build_absolute_uri}}">
        Share on Twitter
      </a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source=http://swiftforentrepreneurs.com/">
        Share on Linkedin
      </a>
      <a href="http://www.reddit.com/submit?url=http://swiftforentrepreneurs.com/&title=Unlock%20to%20Learn%20Swift%20for%20Free!%20By%20Swift%20for%20Entrepreneurs.%20Made%20for%20Non%20Techincals.">
        Share on Reddit
      </a>
    </div>
    <div class="pagination">
      <span class="step-links">
        {% if object_list.has_previous %}
          <a href="?{{ page_request_var }}=1">&laquo; first</a>
          <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
          <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a>
          <a href="?{{ page_request_var }}={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock content %}
